<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>GLUG Mvit</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="Glug,mvit,bangalore" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/logo.png" rel="icon">
  <!--<link href="img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet">
<!--   <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet"> -->

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">
  
  <script src="https://www.gstatic.com/firebasejs/5.10.0/firebase.js"></script>

</script>
</head>

<body>
  <!--==========================
  Header
  ============================-->
  <header id="header">
    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <h1 class="text-light"><a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a><a href="/" class="scrollto"><span>GLUG MVIT</span></a></h1>
        
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="https://blog.glugmvit.com/">Blog</a></li>
          <li class="active"><a href="/events">Events</a></li>
          <li><a href="/author">Our Team</a></li>
          <% if(!user){ %>
              <li>
                    <a href="/login">Login</a>
              </li>
              <li>
                    <a href="/register">Signup</a>
              </li>
          <% }else{ %>
            <li>
                  <a href="/logout">Logout</a>
            </li>
          <% } %>
        </ul>
      </nav>
      <br><br><br>
        
    </div>
    <script type="text/javascript">
      if(participant && participant.length>0){
        alert("Successfully applied!!");
      }
    </script>
  </header>
<div class="container gada align-center">
      <% if(error && error.length>0){ %>
        <div class="alert alert-danger" role="alert">     
          <p><%= error %></p>
        </div>
      <% } %>
      <% if(success && success.length>0){  %>
        <div class="alert alert-success" role="alert">      
          <p><%= success %></p>
        </div>
      <% } %>
    </div>


 <section id="services" class="section-bg">
      <div class="container">
        <div class="jumbotron pad">
          <header class="section-header">
            <h3>Upcoming Events</h3>
            <div class="align-center">
                  <a href="/new" class="btn btn-outline-dark btn-lg">Add new event</a>

            </div>
        </div>
        </header>
        <div class="row">
          <% for(i=events.length-1;i>=0;i--){ %>
              <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
                <div class="box">
                  <!--<div class="icon" style="background: #FFFFFF;">--><i class="ion-ios-analytics-outline" style="color: #ff689b;"></i><!--</div>-->

                  <h4 class="title"><a href="<%= events[i].url %>"><%= events[i].name.toUpperCase() %></a></h4>
                  <p class="description">
                  <b>Organiser</b>: <%= events[i].org %><br>
                  
                  <b>Date</b>: <%= events[i].date %><br>
                  <b>Time</b>: <%= events[i].time %><br>
                  <b>Venue</b>: <%= events[i].venue %><br>
                  <b>Contact</b>: <%= events[i].phone %><br>
                  <b>Email</b>: <%= events[i].email %><br>
                  </p>
                  <br>
                 
                     <a href="/events/<%= events[i].id %>/apply" class="btn btn-outline-success btn-sm marg">Apply</a>
                  
                  <% if(user && events[i].author==user.email){ %>
                    <a href="/events/<%= events[i].id %>/edit" class="btn btn-outline-warning btn-sm marg">Edit</a>
                  <form action="/events/<%= events[i].id %>/delete?_method=delete" method="POST">
                    <input type="submit" class="btn btn-outline-danger btn-sm marg" value="Delete">
                  </form>
                  <% } %>
                  

                </div>
              </div>
          <% } %>
        </div>
    </section><!-- #services -->
<% include ./partial/footer %>